@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

} 

body{
  background-color: #ccc;
}

nav{
  display: flex;
  height: 70px;
  width: 100%;
  background: #1D4350;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
  top: 80px;
  left: -100%;
  background: #1D4350;
  background: -webkit-linear-gradient(to right, #A43931, #1D4350);
  background: linear-gradient(to right, #A43931, #1D4350);
  height: 100vh;
  width: 100%;
  text-align: center;
  display: block;
  transition: all 0.3s ease;
  z-index: 9999;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}


  
  
.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  margin-top: 30px;
  width: 100%;
  max-width: 100%;
  background: white;
  margin: 10px auto;
}

.products-grid {
  min-height: 500px;
  padding: 10px;
  display: grid;
  margin-top: 5%;
  grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
  grid-gap: 5px; /* Adjust the gap between grid items as needed */
}
h2{
  font-size:25px;
  background: #1D4350;
  padding: 10px;
  border-radius: 4px;
  width: fit-content;
  color: white;
}
.card p {
  font-size: 20px;
  padding: 5px;
  font-weight: 400;
  width: fit-content;
  color: #ffffff;
  border-radius: 4px;
 background: rgb(107, 155, 152); 
   
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.quality {
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.quality i {
  margin-right: 4px;
  color: gold;
}

.quality span {
  font-weight: bold;
}
.satisfaction {
  display: flex;
  align-items: center;
  margin-top: 8px;
  float: right;
}

.satisfaction i {
  margin-right: 4px;
  color: lightgreen;
}

.satisfaction span {
  font-weight: bold;
}
.delivery {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.delivery i {
  margin-right: 4px;
  color: red;
}

.delivery span {
  font-weight: bold;
}

 @media screen and (max-width: 600px) {
  .products-grid {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(1, 1fr); /* Adjust the number of columns as needed */
    grid-gap: 5px; /* Adjust the gap between grid items as needed */
  }
  h2{
    font-size:16px;
  }
  p{
    font-size:15px;
  }
 }

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1000px;
}

/* Add Animation */
.modal-content, .close {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Responsive Styles */
@media screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* https://thegraph.com/en/ */
.text-glow {
  text-shadow: 0 0 80px rgb(192 219 255 / 35%), 0 0 32px rgb(65 120 255 / 24%);
  display: grid;
  place-items: center;
  font-weight: 800;
}

/* https://rareblocks.xyz/ */
.text-gradient {
  background: linear-gradient(to right, #30CFD0, #c43ad6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: grid;
  place-items: center;
  font-weight: 800;
}

.intro{
background: #1D1E22;
padding: 10px;
color: white;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin-top: 6px;
  width: 100%;
  float: right;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover{
  transform: translateY(-10%);
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loader {
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-top-color: #3498db;
  animation: spin 1s infinite ease-in-out;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}




.share {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  width:fit-content;
  margin-top: 5px;
  float: right;
  cursor: pointer;
  transition: background-color 0.3s ease;

}
.share i {
  margin-right: 5px;
}
.share:hover {
  background-color: #0056b3;
}






ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #151414;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #ff5e14;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.fa-brands {
background: #DD4B39;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #ff5e14;
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #ff5e14;
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: #ff5e14;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #ff5e14;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin: auto;
  margin-top: 20px;
  width: 90%;
}

#search-input {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;

   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

#search-button {
  margin-left: 5px;
  padding: 15px 20px;
  background-color: #4caf50;
  color: #fff;
  width: fit-content;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

#search-button:hover {
  background-color: #45a049;
}

#search-button:active {
  background-color: #3e8940;
}

.no-results-msg {

  margin-top: 100%;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  margin: 20px 0;
}







.rotating-text-wrapper {
  height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}
.rotating-text-wrapper h2 {
  font-size: 2.5em;
  margin: 0;
  padding: 0.3em;
  color: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  animation-duration: 6s;
  animation-iteration-count: infinite;
  opacity: 0;
}
.rotating-text-wrapper h2:nth-child(1) {
  background-color: lightseagreen;
  animation-name: rotating-text-1;
}
@keyframes rotating-text-1 {
  0% {
    transform: translateY(100%);
  }
  33% {
    transform: translateY(100%);
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
}
.rotating-text-wrapper h2:nth-child(2) {
  background-color: tomato;
  animation-name: rotating-text-2;
}
@keyframes rotating-text-2 {
  33% {
    transform: translateY(100%);
    opacity: 0;
  }
  66% {
    transform: translateY(0);
    opacity: 1;
  }
  67% {
    opacity: 0;
  }
}
.rotating-text-wrapper h2:nth-child(3) {
  background-color: cornflowerblue;
  animation-name: rotating-text-3;
}
@keyframes rotating-text-3 {
  66% {
    transform: translateY(0);
    opacity: 0;
  }
  99% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
@media screen and (max-width: 600px) {
  .rotating-text-wrapper {
    font-size: 0.7rem;
  }
  /* https://thegraph.com/en/ */
.text-glow {
  text-shadow: 0 0 80px rgb(192 219 255 / 35%), 0 0 32px rgb(65 120 255 / 24%);
  display: grid;
  place-items: center;
  font-weight: 800;
}

/* https://rareblocks.xyz/ */
.text-gradient {
  background: linear-gradient(to right, #30CFD0, #c43ad6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: grid;
  place-items: center;
  font-weight: 800;
  font-size: large;
}

}

#no-results-container {
  text-align: center;
  display: none;
  margin-top: 20px;
}

#no-results-msg {
  font-size: 18px;
  color: #333;
}

#giphy-container {
  margin-top: 10px;
}

#giphy-container img {
  max-width: 300px;
}
.same-height-img {
  height: 300px; /* Adjust the height value to your desired value */
  object-fit: cover; /* This property ensures the image maintains its aspect ratio and covers the entire container */
}
